*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
  
}
.container{
    width: 1200px;
    margin: auto;
}
.head{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
font-weight: bold;
font-family: sans-serif;
}
#navul{
    display: flex;
    list-style-type: none;
    text-transform: capitalize;
}
#navul li{
    width: 80px;
}
#navul li a{
    text-decoration: none;
    color: black;
  
}
        /* banner */
p{
    clear: both;
}

.banner{
    position: relative;
}

.caption{
    background: rgb(41, 77, 64);
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 25%;
    padding: 30px 100px;
    font-family: sans-serif;
}
.caption h2{
    
    font-size: 40px;
}
.caption p{
    margin-top: 10px;
    line-height: 20px;
}

.banner-img{
    position: relative;
    right: 20px;
    top: 30px;
    bottom: 0;
    z-index: 1;
    /* margin-right: auto; */
    display: flex;
    justify-content: right;
}
.bencap{
    margin-top: 80px;
}
.page2 h3{
font-size: 40px;
margin-left: 150px;
font-family: sans-serif;
}
.benifit{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}
.benifit .box1{
    padding: 30px;

}
.benifit .box1 h1{
    text-transform: capitalize;
}
.benifit .box1 h1 i{
    margin-right: 20px;
    color: rgb(41, 77, 64) ;
}
.benifit .box1 p{
    margin-top: 25px;
    line-height: 25px;
    margin-left: 60px;
}

/* .provide_exprience_years */


.img_contant{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-family: sans-serif;
    
}
.img_contant img{
    width: 500px;
   
}
.provide_contant h2{
    font-size: 40px;
    
}
.provide_contant p{
    line-height: 25px;
    margin-top: 25px;
}
.exp_details{
    display: flex;
   margin-top: 25px;
   justify-content: space-around;
   margin-right: 25px;
   
}
.exp_number h3{
    font-size: 60px;
   color: rgb(41, 77, 64);
}
.exp_number p{
    margin-top: 20px;
    font-weight: bolder;
}
#learn_more{
    margin:40px;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    position: relative;
}
#learn_more::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: black;
    top: 30px;
    left: 120px;
    display: none;

}
#learn_more:hover::after{
    display: block;
    
}
p{
    clear: both;
}
.process_experience{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    
}
.process_main h1{
font-size: 40px;
}
.process_main h2{
    margin-top: 60px;
    font-size: 30px;
    margin-left: 80px;
}
.process_main p{
    line-height: 30px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 80px;
}
.process_img img{
    width: 500px;
}

/* .feedback */


#customers_say{
   
    font-size: 40px;
    padding: 70px 0px;
}
.box01{
    
    background-color:rgb(41, 77, 64) ;
   margin: 20px;
    justify-content: space-between;
    color: #fff;
    padding: 50px;
}
.feedback{
    display: flex;
    justify-content: center;
}
.people{
    display: flex;
   
}
.people h4{
    margin-left: 20px;
   
    margin-top: 20px;
}
.people h5{
    margin-left: 20px;
} 
.people img{
    width: 60px;
    border-radius: 80px;
}

.box01 h2{
font-size: 30px;
}
.box01 p{
   font-size: 15px;
    margin: 30px 0;
   
}

/* subscribe */

.subscribe{
    margin-top: 80px;
}
.subscribe h2{
    font-size: 40px;
    text-align: center;
}
.subscribe p{
    text-align: center;
    padding: 25px;
}

.mail_box{
    box-shadow: 0px 0px 29px 0px #999;
    max-width: 500px;
    margin: auto;
    position: relative;
    bottom: -22px;
    background: #FFF;
    padding: 5px;
    display: flex;
}

.mail_box input{
    padding: 15px;
    border: 0px;
    width: 75%;
}
.mail_box input:focus{
   border: 0px;
}

.mail_box button{
    padding: 15px;
    background-color:rgb(41, 77, 64) ;
    color: #fff;
    border: 0px ;
    width: 25%;
    text-align: center;
    display: block;
}
.about_luxterior{
   display: flex;
   justify-content: space-between;
   background-color:rgb(41, 77, 64);
   color: #fff;
   padding: 50px;
}
.about h2{
    padding: 10px;
}
#about_li {
    list-style-type: none;
}
#about_li a{
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

.wrapper-green{
    background-color:rgb(41, 77, 64); 
}



@media screen and (max-width:480px) {
    body{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .head{
        width: 100%;
    }
    .head h1{
        font-size: 25px;
    }
    #navul{
        display: none;
    }
    .banner-img{
        flex-direction: column;
    }
    .page2 h3{
        font-size: 25px;
        margin: auto;
    }
    .caption{
        padding: 15px 50px;
        position: relative;
        left: 0;
    }
    .caption h2{
        font-size: 15px;
        /* text-align: left; */
    }
    .caption p{
        font-size: 10px;
        line-height: 15px;
    }
    .banner-img img{
        width: 100%;
        
    }
.benifit{
    flex-direction: column;
    width: 100%;
}
.box1{
    width: 100%;
    padding: auto;
}
.box1 h1{
    font-size: 15px;
    text-align: center;
}
.box1 p{
    text-align: center;
}
.img_contant{
    width: 100%;
    flex-direction: column;
}
.img_contant img{
    width: 100%;
}
.provide_contant h2{
    font-size: 20px;
    padding: 10px 0px;
}
.exp_number h3{
    font-size: 30px;
  
}
.exp_number p{
    font-size: 15px;
    line-height: 15px;
}
.process_experience{
    flex-direction: column;
    margin: auto;
}
.process_experience h1{
    font-size: 20px;
}
.process_experience h2{
    margin-top: 20px;
    font-size: 18px;
}
.process_experience p{
    font-size: 10px;
    line-height: 15px;
}
#learn_more{
    margin: 15px;
    padding: 10px;
}
.process_img img{
    width: 100%;
    margin-top: 15px;
}
#customers_say{
    font-size: 30px;
    padding: 30px 0px;
}
.feedback{
    flex-direction: column;
}
.box01{
    padding: 25px;
    border-radius: 0 30px 0 30px;
}
.box01 h2{
    font-size: 15px;
}
.box01 p{
    font-size: 11px;
}
.subscribe h2{
font-size: 20px;
margin-top: 10px;
}
.subscribe p{
    font-size: 15px;
}
.mail_box input{
    padding: 10px;
    
}
.mail_box{
    /* width: 100%; */
    /* padding: 2px; */
margin: auto;    
}
.mail_box button{
    padding: 10px;
    width: 25%;
}
.about_luxterior{
    width: 100%;
    padding: 25px;
    flex-direction: column;
}

}
@media screen and (max-width: 880px){

.wrapper{
    width: 100%;
}
.container{
    width: 100%;
}
.head{
    width: 100%;
}
.banner-img{
    width: 100%;
}



}
    
